h1 {
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding: 5px #83bcff;
}

.estilo-descrição {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

h3 {
    font-size: 2em;
}

body {
    background-color: rgb(151, 210, 251)
}

.destaque-lista {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 500;
    
}

ul {
    font-size: 18px;
    list-style: none;
}

#foto {
    float: left;
    padding: 10px;
    background-color: #e1eff6;
}

#bio {
    padding: 20px 100px 120px;
    text-align: center;
}

#lista-de-habilidades {
    padding-left: 19px;
    padding-top: 25px;
}

#lista-de-habilidades li:nth-child(odd) {
    background-color: #e1eff6;
}